<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.IAmusementInfoDao">
  <!--
   namespace:必须与对应接口的类名一致
   id：与接口中的方法名一致
   -->
   <select id="getAmusementList" resultType="Amusement_information">
     select * from amusement
   </select>
   <insert id="addAmusement" parameterType="Amusement_information" >
       insert into amusement(introduction,address,business_hours,area_covered,amusement_img)
       values(#{introduction},#{address},#{business_hours},#{area_covered},#{amusement_img})
   </insert>
	
   <update id="updateAmusement" parameterType="Amusement_information">
   		 update amusement set 
   		 introduction=#{introduction},address=#{address},business_hours=#{business_hours},area_covered=#{area_covered},amusement_img=#{amusement_img} 
   		 where amusement_Id=#{amusement_Id}  
   </update>
   
</mapper>