<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.ICateringInfoDao">
  <!--
   namespace:必须与对应接口的类名一致
   id：与接口中的方法名一致
   -->
   <select id="getCateringList" resultType="Catering_industry">
     select * from catering_industry
   </select>
   <select id="getCateringListWithName" resultType="Catering_industry" parameterType="String">
   	select * from catering_industry where business_name like CONCAT('%',#{business_name},'%')
   </select>
   <insert id="addCatering" parameterType="Catering_industry" >
       insert into catering_industry(business_name,`owner`,type,`range`,open_time,close_time,license_img)
       values(#{business_name},#{owner},#{type},#{range},#{open_time},#{close_time},#{license_img})
   </insert>
	
   <update id="updateCatering" parameterType="Catering_industry">
   		 update catering_industry set 
   		 business_name=#{business_name},`owner`=#{owner},type=#{type},`range`=#{range},open_time=#{open_time},close_time=#{close_time},license_img=#{license_img} 
   		 where business_id=#{business_id}  
   </update>
   <delete id="deleteCatering" parameterType="int">
   		delete from catering_industry where business_id=#{business_id}
   </delete>
</mapper>