<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.IFacilityInfoDao">
  <!--
   namespace:必须与对应接口的类名一致
   id：与接口中的方法名一致
   -->
   
   <insert id="addFacility" parameterType="Amusement_facility" >
       insert into amusement_facility(name,open_time,close_time,people,information,facility_img,notice,open_day,close_day)
       values(#{name},#{open_time},#{close_time},#{people},#{information},#{facility_img},#{notice},#{open_day},#{close_day})
   </insert>
	
	<select id="getFacilityList" resultType="FacilityWithPosition">
     SELECT
		amusement_facility.* ,position.lng,position.lat
	FROM
		amusement_facility
	LEFT JOIN position ON amusement_facility.id = position.facilityId
   </select>
   <select id="getFacilityListWithName" resultType="Amusement_facility" parameterType="String">
     select * from amusement_facility where name like CONCAT('%',#{name},'%' )
   </select>
   <update id="updateFacility" parameterType="FacilityWithPosition">
   		 update amusement_facility set name=#{name},open_time=#{open_time},close_time=#{close_time},people=#{people},information=#{information},facility_img=#{facility_img},notice=#{notice},open_day=#{open_day},close_day=#{close_day} where id=#{id}  
   </update>
   <insert id="insertPosition" parameterType="FacilityWithPosition" >
       insert into `position` (facilityId,lng,lat)
       values(#{id},#{lng},#{lat})
   </insert>
   <delete id="deletePosition" parameterType="FacilityWithPosition">  
        delete from position where facilityId = #{id}  
   </delete>
   <delete id="deleteFacility" parameterType="int">  
        delete from amusement_facility where id = #{id}  
   </delete>  	
</mapper>